<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	
	
	<bean name="fitem" class="com.rc.dl.bean.FItem"></bean>	
	<bean name = "fitemDao" class="com.rc.dl.dao.impl.FItemDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>	
	<bean name="fitemService" class="com.rc.dl.service.impl.FItemServiceImpl"></bean>
	
	<bean name="user" class="com.rc.dl.bean.User"></bean>
	<bean name = "userDao" class="com.rc.dl.dao.impl.UserDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name="userService" class="com.rc.dl.service.impl.UserServiceImpl"></bean>
	<bean name="post" class="com.rc.dl.bean.Post"></bean>
	<bean name = "postDao" class="com.rc.dl.dao.impl.PostDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name="postService" class="com.rc.dl.service.impl.PostServiceImpl"></bean>
</beans>